[submodule "autopair"]
	path = .elisp/autopair
	url = http://github.com/emacsmirror/autopair.git
[submodule "cmd-mode"]
	path = .elisp/cmd-mode
	url = http://github.com/emacsmirror/cmd-mode.git
[submodule "csharp-mode"]
	path = .elisp/csharp-mode
	url = http://github.com/emacsmirror/csharp-mode.git
[submodule "fsharp-mode"]
	path = .elisp/fsharp-mode
	url = http://github.com/emacsmirror/fsharp-mode.git
[submodule "hl-tags-mode"]
	path = .elisp/hl-tags-mode
	url = http://github.com/deactivated/hl-tags-mode.git
[submodule "htmlize"]
	path = .elisp/htmlize
	url = http://github.com/emacsmirror/htmlize.git
[submodule "mo-git-blame"]
	path = .elisp/mo-git-blame
	url = http://github.com/mbunkus/mo-git-blame.git
[submodule "multi-term"]
	path = .elisp/multi-term
	url = http://github.com/emacsmirror/multi-term.git
[submodule ".elisp/coffee-mode"]
	path = .elisp/coffee-mode
	url = http://github.com/defunkt/coffee-mode.git
